body {
  /* background: #2d2e36; */
  background: #e4f9f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #11999e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.my-cl1 {
  color: #e4f9f5;
}

.my-cl2 {
  color: #30e3ca;
}

.my-cl3 {
  color: #11999e;
}

.my-cl4 {
  color: #40514e;
}
